
#containerheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: plum;
    padding: 20px;
    border-radius: 20px;

}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c080db;

}
#projeto #contato{

    border:2px solid rgb(215, 150, 238);
    border-radius: 30px;
    padding: 10px;
}
nav ul{
    list-style: none;
    padding: 0;
    margin-left: 800px;
   
}

 


nav ul li{
    display: inline;
    margin: 0 10px;
    border: 10px;
    border-radius: 4vh;
    border: solid rgb(0, 0, 0);
    transition: all 0.3s ease;
    color: white;
}

nav :hover li{
    transform: scale(1.05);
    color: rgb(251, 251, 255);
    background-color: rgb(161, 83, 161);
}

li{
    
    font-size: 3vh;
}
#escolas{
    margin: 20px;
}
section{
    margin-bottom: 20px;
    padding: 20px;
    margin: 20px;
    border-left: 4px solid ;
    border-radius: 10px;
    background-color: plum;
}


.contact-container {
    text-align: center;
    max-width: 600px;
    width: 100%;

    padding: 40px;
    border-radius: 10px;
}


.container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}



form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}


form input, form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px;
}


form button {
    padding: 12px;
    background-color: #d5a0eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#galeria{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer {
    background-color: #e295e8; 
    color: white; 
    text-align: center; 
    padding: 10px; 
}
#perfil{
    width: 200px;
    height:auto ;
    border-radius: 50%;
    margin: 10px 0;
    box-shadow: 0 2px 5px ;
}